
/* styles.css 

form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"]
/*input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: 6px;
    border-radius: 5px;
    cursor: pointer;
}

/*input[type="textarea"]
textarea {

    border-radius: 5px;
    border: 1px solid #ccc;
    width: 90%;
    padding: 10px; 


}



input[type="submit"]:hover {
    background-color: #45a049;
}

*/
* {
    
    
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
  }



  body {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 800px;
    width: 1300px;
    text-align: center;
    background-color: rgb(133, 211, 211);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain;
    margin-top:100px;
    margin-bottom: 100px;
    
  }
  

  .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    margin-top:100px;
    margin-bottom: 100px;
    margin-left: 10;
    margin-right: 10;
    padding: 50px;
    height:900px;
    width: 1900px;
    max-width: 1100px;
    background-color: rgb(241, 169, 169);
    border: 4px solid black;
    border-radius: 30px;
    
    border-color: brown;



  }

  .row #items {

border: 5px solid gray;
border-radius: 10px;
border-width:3px;
padding:10px;


  }

 

 .card.col-sm-4 {
    border: 5px solid rgb(34, 8, 8); 
    border-radius: 10px;
    border-width:3px;
    align-content: flex-end;
    

 }

 


